provider "nxos" {
  alias    = "sat01"
  username = local.cfg.nxos_username
  password = local.cfg.nxos_password
  url      = local.cfg.switches.sat01_url
}

provider "nxos" {
  alias    = "sat02"
  username = local.cfg.nxos_username
  password = local.cfg.nxos_password
  url      = local.cfg.switches.sat02_url
}

module "ip_plan" {
  source         = "./modules/ip-plan"
  fabric_cidr    = local.cfg.fabric_cidr
  subnet_plan    = local.cfg.subnet_plan
  switch_pair_id = local.cfg.switch_pair_name
}

module "n9k_pair" {
  source = "./modules/n9k-pair"

  providers = {
    nxos.sat01 = nxos.sat01
    nxos.sat02 = nxos.sat02
  }

  pair_name       = local.cfg.switch_pair_name
  loopbacks_sat01 = module.ip_plan.loopbacks_sat01
  loopbacks_sat02 = module.ip_plan.loopbacks_sat02
  svis_sat01      = module.ip_plan.svis_sat01
  svis_sat02      = module.ip_plan.svis_sat02
  ptp_links       = module.ip_plan.ptp_links
}
